@model DetalhesMesaViewModel

@{
    ViewBag.Titulo = "Detalhes da Mesa";
}

<div class="container-fluid my-5 px-4">
    <div class="card rounded-4 border-0">
        <div class="card-body p-md-5">
            <h3>Detalhes</h3>

            <div class="form-group d-grid gap-2 mt-3">
                <label for="id" class="control-label fs-5">Id:</label>
                <input name="id" class="form-control" value="@Model.Id.ToString().Substring(0, 13)..." readonly disabled />
            </div>
            <div class="form-group d-grid gap-2 mt-3">
                <label for="numero" class="control-label fs-5">Número:</label>
                <input name="numero" class="form-control" type="number" value="@Model.Numero" readonly disabled />
            </div>
            <div class="form-group d-grid gap-2 mt-3">
                <label for="capacidade" class="control-label fs-5">Capacidade:</label>
                <input name="capacidade" class="form-control" type="number" value="@Model.Capacidade" readonly disabled />
            </div>
            <div class="form-group d-grid gap-2 mt-3">
                @foreach (DetalhesContaViewModel conta in Model.Registros)
                {
                    if (conta.EstaAberta && conta.Mesa == Model.Numero)
                    {
                        <h5>Conta em aberto para a mesa:</h5>
                        <span><i class="bi bi-arrow-right"></i> Cliente: @conta.Titular, Valor: R$ @conta.ValorTotal</span>
                    }

                    if (!conta.EstaAberta && conta.Mesa == Model.Numero)
                    {
                        <h5>Contas fechadas para a mesa:</h5>
                        <span><i class="bi bi-arrow-right"></i> Cliente: @conta.Titular, Valor: R$ @conta.ValorTotal</span>
                    }
                }
            </div>
            <div class="form-group d-flex flex-column align-items-center justify-content-end gap-3 mt-5">
                <a href="/mesas" class="btn btn-outline-primary rounded-3 px-2">Voltar</a>
            </div>
        </div>
    </div>
</div>